---
layout: default
---

<div id="encrypted_content">
  <form id="encrypt_form" action="#" method="post">
    <input id="OFgvG16W4AD114Zm"
           type="OFgvG16W4AD114Zm"
           name="OFgvG16W4AD114Zm"
           placeholder="try 'password'"
           autofocus />

    <input type="submit" value="Unlock"/>
  </form>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
  <script>
    document.getElementById('encrypt_form').addEventListener('submit', function(e) {
      e.preventDefault();
      var passphrase = document.getElementById('OFgvG16W4AD114Zm').value,
          encryptedMsg = '{{ page.encrypted }}',
          encryptedHMAC = encryptedMsg.substring(0, 64),
          encryptedHTML = encryptedMsg.substring(64),
          decryptedHMAC = CryptoJS.HmacSHA256(encryptedHTML, CryptoJS.SHA256(passphrase).toString()).toString();

      if (decryptedHMAC !== encryptedHMAC) {
        alert('Bad passphrase!');
        return;
      }

      var plainHTML = CryptoJS.AES.decrypt(encryptedHTML, passphrase).toString(CryptoJS.enc.Utf8);
      document.getElementById('encrypted_content').innerHTML = plainHTML;
    });
  </script>
</div>
